&nbsp;&nbsp;<%= raw NEWS_TITLE %><br/>

<div id="pdxspurs-list">	

<fieldset>
<table>
<% for item in guardian_results %>
  <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%= raw item %></td>
  </tr>
<% end %>
</table>
</fieldset>

  <br />


  <fieldset><font style="font-family: Century Gothic;Georgia">
  <br /><center><a href="http://rubyonrails.org"><h3>A Ruby on Rails version <%= Rails.version %> app</h3></a></center>
  </fieldset>

</div>



