&nbsp;&nbsp;<%= raw NEWS_TITLE %><br/>

<div id="pdxspurs-list">	

<fieldset>
<table>
<% for item in guardian_results %>
  <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%= raw item %></td>
  </tr>
<% end %>
</table>
</fieldset>

  <br />

  <fieldset><center><h2><font style="font-family: Century Gothic;Georgia">In Memoriam Tottenham Hotspur
  </font></h2></center></fieldset>

  <fieldset><font style="font-family: Century Gothic;Georgia">
  After saving Spurs from relegation, and taking them into the Champions League,
  manager Harry Redknapp was fired <a href="http://www.dailymail.co.uk/sport/football/article-2159005/Harry-Redknapp-sacked-Transformation-Spurs-airbrushed-history.html?ito=feeds-newsxml">on June 14, 2012</a>. </font>
  <br /><center><a href="http://rubyonrails.org"><h3>A Ruby on Rails version <%= Rails.version %> app</h3></a></center>
  </fieldset>

</div>



