
<form accept-charset="UTF-8" action="/password_resets/update" class="new_password" id="password_reset" method="put">
  <%= hidden_field_tag :token, @token %>
  <label>password:</label><br />
  <%= password_field_tag "password" %><br />
  <label>password again:</label><br />
  <%= password_field_tag "password_confirmation" %><br />
  <br />
  <%= submit_tag "update my password" %>
</form>



