<h1>Enter the e-mail address with which you joined the site originally,
and instructions to reset your password will be emailed to you</h1><br />

<form accept-charset="UTF-8" action="/password_resets/new" class="new_user_session" id="password_reset" method="post">
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <%= submit_tag "Reset my password" %>
</form>


