<p>Use the 'Browse' button to find an image file (jpg, gif or png) on your computer <br />
to add to this message, then click 'Save'</p>

<%= form_tag( "/upload/uploadfile?p=#{ params['p'] }", :multipart => true ) do %>

    <%= file_field "upload", "datafile" %>
    <%= submit_tag " Save " %><br />
    <%= link_to 'back', "/posts/#{ params['p'] }" %>

<% end -%>


