<b>title:</b> <%= @post.title %>
<br/><br/>
<b>message:</b><br/>
<%= @post.message %>
<br/><br/>

<% if @post.post_id.nil? %>
  <a href="<%= "/posts/new?l=#{ @post.list_id }&p=#{ @post.id }" %>"><%= COMMENT %></a>
<% end %>



