title: <%= @post.title %>
<br/><br/>
message:<br/>
<%= @post.message %>
<br/><br/>

<% if @post.post_id.nil? %>
  <a href="<%= "/posts/new?l=#{ @post.list_id }&p=#{ @post.id }" %>"><%= COMMENT %></a>
<% end %>



